

body{
  text-align: justify;
  font-size: 15px;
  }

td { font-size: 14px;
	  align: center;
  
}

h1, .h1{
    margin-top: 65px;
}

.right {
  text-align: right;
  line-height: 0.25;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #151cbad1;
    border-color: #158cba;
}

div.blue { background-color:#e6f0ff; border-radius: 5px; padding: 20px;}


pre {
    display: block;
    padding: 10px;
    margin: 0 0 10.5px;
    font-size: 12px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    color: #7b8a8b;
    background-color: #ecf0f1;
    border: 1px solid #cccccc;
    border-radius: 4px;
}